@model BookIt.Models.User

@{
ViewData["Title"] = "Kayıt Ol!";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4 card p-4 shadow-sm border-0">
        <h2 class=" text-center mb-4">Yeni Hesap Oluştur</h2>
        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label class="form-label">Ad Soyad</label>
                <input asp-for="Name" class="form-control" placeholder="Adınız" required />
            </div>
            <div class="mb-3">
                <label class="form-label">E-posta</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="E-posta adresiniz" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Şifreniz" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Kayıt Ol</button>
        </form>
        <p class="mt-3 text-center">
            Zaten hesabınız var mı <a asp-action="Login">Giriş Yap</a>
        </p>
    </div>
</div>